<div class="dashboard-container">
  <div class="dashboard">
    <div class="mt-4 mb-4 dashboard-header">
      <div class="p-3">
        <h1>Dashboard</h1>
        <p>Welcome <%= username %></p>
      </div>
      <div class="dashboard-user pt-3">
        <i class="fa-solid fa-user"></i>
      </div>
    </div>
    <div class="menue-container">
      <div class="p-2 mydata-container">
        <div class="d-flex justify-content-between">
          <h4>MY DATA</h4>
          <div class="menue-close">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="mydata-details pt-2">
          <p>User ID: <%= user.userID %></p>
          <p>Firstname: <%= user.firstname %></p>
          <p>Lastname: <%= user.lastname %></p>
          <p>Email: <%= user.email %></p>
          <p>Registered: <%= user.date %></p>
        </div>
        <div class="logout">
          <a href="/users/logout" class="btn btn-secondary">Logout</a>
        </div>
      </div>
    </div>
    <div class="dashboard-stories p-3">
      <h4>MY STORIES</h4>
      <div class="stories-control mb-4">
        <a href="/stories/new/" class="btn btn-secondary btn-story-ctrl text-nowrap">New Story</a>
        <a href="#" class="btn btn-story-ctrl text-nowrap btn-secondary">Edit</a>
        <a href="#" class="btn btn-story-ctrl text-nowrap btn-secondary">Delete</a>
        <a href="#" class="btn btn-story-ctrl text-nowrap btn-secondary">Delete All</a>
      </div>
      <div class="stories-container">
        <% if(user.stories.length===0) {%>
        <p>No stories yet!</p>
        <%} else { for(s of user.stories) {%>
        <div class="story">
          <h5><%=s.title %></h5>
          <div class="story-details">
            <p><%=s.description %></p>
          </div>
        </div>
        <%};} %>
      </div>
    </div>
  </div>
</div>
